<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    {% include '_styles.html' %}
    <style type="text/css">
      a.cta, button.cta {
        background-color: #EF472F;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
      }
    </style>
  </head>

  <body>
    <table class="email-outer">
      <tr>
        <td>
          <table class="email-inner">
            <tr>
              <td>
                <table class="email-header">
                  <tr>
                    <td>
                      <a href="{{ domain }}">
                        <img src="{{ domain }}/static/images/bele-logo-header.png" height="48px">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-body">
                  <tr>
                    <td>
<p>
  Greetings,
</p>
<p>
  The password on your BELE Library account has been changed.
</p>
<p>
  If you did not request this change, please email us at
  <a href="</a>
  and let us know.
</p>
<p>
  - The BELE Library Team
</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table class="email-footer">
            This message was intended for {{ full_name }}<br>
            PERTS &copy; {{ year }}  |   All Rights Reserved<br>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
