<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    {% include '_styles.html' %}
    <style type="text/css">
      a.cta, button.cta {
        background-color: #EF472F;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
      }
    </style>
  </head>

  <body>
    <table class="email-outer">
      <tr>
        <td>
          <table class="email-inner">
            <tr>
              <td>
                <table class="email-header">
                  <tr>
                    <td>
                      <a href="{{ domain }}">
                        <img src="{{ domain }}/static/images/bele-logo-header.png" height="48px">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-body">
                  <tr>
                    <td>
                      <p>
                        Hi {{ short_name }},
                      </p>
                      <p>
                        A member of the BELE Library community has replied to
                        your comment on,
                        <em><a href="{{ domain + content_url }}">{{ content_name }}</a></em>.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="comment-info">
                      <div class="commenter-info">
                        <div class="commenter-image" style="background-image: url('{{ commenter_image_url }}');"></div>
                        <a href="{{ domain + content_url }}">
                          {{ commenter_name }}
                        </a>
                      </div>
                      <div class="comment-text">
                        <p>
                          {{ comment_body }}
                        </p>
                      </div>
                      <div class="spacer"></div>
                      <a href="{{ domain + content_url }}" class="cta">
                        View in BELE Library
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table class="email-footer">
            This message was intended for {{ full_name }}<br>
            PERTS &copy; {{ year }}  |   All Rights Reserved<br>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>