<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    {% include '_styles.html' %}
    <style type="text/css">
      a.cta, button.cta {
        background-color: #EF472F;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
      }
    </style>
  </head>

  <body>
    <table class="email-outer">
      <tr>
        <td>
          <table class="email-inner">
            <tr>
              <td>
                <table class="email-header">
                  <tr>
                    <td>
                      <a href="{{ domain }}">
                        <img src="{{ domain }}/static/images/bele-logo-header.png" height="48px">
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table class="email-body">
                  <tr>
                    <td>
                      <p>
                        Hi {{ short_name }},
                      </p>
                      <p>
                        Sorry, but your content has been <b>rejected</b>. It
                        may contain inappropriate or copyright-infringing
                        material. You can edit it using the link below.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td class="practice-info">
                      <img src="{{ domain }}/static/images/email/rejected-icon.png" height="70px">
                      <h2>
                        <a href="{{ domain + entity_url }}" class="practice-title">
                          {{ entity_name }}
                        </a>
                      </h2>
                      <div class="spacer"></div>
                      <a href="{{ domain + edit_url }}" class="cta">
                        Edit Content
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        Your content helps make the BELE Library great for
                        others&mdash;please respond to this message if
                        you&rsquo;d like more information on how to improve it.
                      </p>
                      <br>
                      <p>
                        - The BELE Library Team
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

          <table class="email-footer">
            This message was intended for {{ full_name }}<br>
            PERTS &copy; {{ year }}  |   All Rights Reserved<br>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>