{% set base_url = "https://" + hosting_domain %}

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>

      <div class="col-lg-5 col-lg-push-5 footer_social-links">
        <div style="display: flex; height: 100%; justify-content: flex-end;">
          <div style="align-self: center;">
            <a class="footer_mailto" href="</a>
            {#
            <a class="footer_social-link" share-button="main" share-type="facebook" share-url="{{base_url}}"><i class="fa fa-facebook fa-lg"></i></a>
            <a class="footer_social-link" share-button="main" share-type="twitter" share-url="{{base_url}}" share-text="{{share_text}}"><i class="fa fa-twitter fa-lg"></i></a>
            <a class="footer_social-link" share-button="main" share-type="google" share-url="{{base_url}}"><i class="fa fa-google fa-lg"></i></a>
            #}
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-lg-pull-5 footer_legal">
        <div style="display: flex; height: 100%; justify-content: center; align-items: center;">
            <div style="margin-right: 10px;">
              Except where otherwise noted, content on this site is licensed under
              a <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Creative
              Commons Attribution 4.0 International License</a>. Please attribute
              credit to the Equitable Learning Environment Library or to the
              &ldquo;preferred citation&rdquo; if available.
            </div>
            <div style="min-width: 88px;">
              <img src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="License">
            </div>
        </div>
      </div>

      <div class="col-lg-1"></div>

    </div>

  </div>
</footer>
